.subtotal-offcanvas {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    width: 85%;

    text-align: center;
}

.subtotal-offcanvas p {
    margin: 0;
    font-size: 0.8rem;
}

.subtotal-offcanvas .btn {
    border-radius: 0;
    border: 0;
    width: 100%;
    margin: 30px 0px 0px 0px;
    text-transform: uppercase;

    background-color: black;
    color: white;
    font-size: 0.9rem;

}

/* ::-webkit-scrollbar {
    width: 1px;
} */

.allItemsInCartOffcanvas {
    height: 63vh;
    overflow-y: scroll
}

.allItemsInCartOffcanvas::-webkit-scrollbar {
    width: 0px;
}