.navbarHero {
    width: 100%;
    position: absolute;
    /* top: 0;
    left: 0px */
    z-index: 4;
}

.navbarHero a {
    color: white !important;
    margin: 5px 30px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.navbarHero-links {
    margin-left: auto;
    margin-right: 30px;
}