.CheckoutPage {
    /* padding-top: 100px; */
    /* min-height: 100vh; */
    /* background-color: rgb(114, 217, 191); */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.CheckoutPage h5 {
    font-family: 'JORGE';
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 0.8rem;
    color: black
}

.CheckoutPage a {
    text-decoration: none;
}

.CheckoutPage video {
    width: 85vw;
    height: 82vh;
    border-radius: 10px;
    z-index: 1;
    display: inline-block
}

.CheckoutPage input {
    color: black !important
}

.CheckoutPage input::placeholder {
    color: black
}

.CheckoutPage input:focus {
    outline: none;
    box-shadow: none;
}


.glassy-checkOut {
    background: rgba(255, 255, 255, 0.11);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.17);

    border-radius: 10px;
    width: 85vw;
    padding: 40px;
    height: 82vh;
    z-index: 2;
}

.sectionHeader {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sectionHeader div {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    margin-right: 30px;
    padding-top: 2px;
}

.sectionHeader h6 {
    text-transform: uppercase;
    font-family: 'JORGE';
    padding: 0;
    margin: 0;
}

.deliveryAddress-info {
    margin-top: 30px;
}

.deliveryAddress-info label {
    font-size: 0.8rem;
    margin: 0;
    font-weight: bold;
}

.payment-info {
    margin-top: 40px;
}

.payment-info p {
    font-weight: bold;
    font-size: 0.8rem;
    /* margin: 0; */
}

.payment-info label {
    font-size: 0.8rem;
    margin: 0;
}

.paymentMethods-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderSummary {
    background-color: rgb(255 255 255/ 20%);
    min-height: 100%;
    position: relative;
    padding-top: 20px;
}

.totalCheckout {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 10px 20px;
    text-transform: uppercase;

    border-top: 1px solid black;
    padding-top: 20px;
}



.logo_checkout {
    width: 120px;
    padding-top: 10px;
}

.goBackCheckout-btn {
    background-color: transparent;
    color: black;
    text-transform: lowercase;
    border: none;

    position: absolute;
    top: 20px;
    left: 20px
}

.goBackCheckout-btn:hover {
    background-color: transparent;
    color: black;
    text-transform: lowercase;
    border: none;
}

.allItemsInCartCheckout {
    height: 50vh;
    overflow-y: scroll
}

.allItemsInCartCheckout::-webkit-scrollbar {
    width: 0px;
}