.ServicesPreview {
    background-color: blue;
    background-image: url('./../../../public/img/whaleShark-b&w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    margin-bottom: 60px;
}

.servicesPreview-container {
    width: 100%;
    height: 100%;
}

.ServicesPreview h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ServicesPreview hr {
    color: white;
}

.services-carousel-preview {
    height: 100%;
}

.carosel-column {
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

.text-column {
    padding-top: 50px;
}

.services-preview-btn {
    border-radius: 20px;
    padding: 5px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: lighter;
}

.services-preview-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    font-weight: 350;
}