.GalleryPage {
    margin-top: 100px;
}

.gallery-description {
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.fixed {
    position: fixed;
}

.GalleryPage h2 {
    font-family: 'JORGE';
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.signature {
    opacity: 0.4;
    width: 150px;
    margin-right: 50px;
}

.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 15px;
    justify-content: center;
}