/* .slideStyles {
    width: 80%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;

}

.rightArrowStyles {
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.leftArrowStyles {
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.sliderStyles {
    position: relative;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.services {
    display: flex
}

.sliderStyles .slide img {
    width: 400px;
    height: 150px;
    border-radius: 30px;
}

.hide {
    display: none !important
}

.sliderStyles .slide {
    width: 80%;
    height: 27vh !important;
    border-radius: 20px;
    margin-bottom: 20px;
} */



/* new styles for Carousel Bootstrap */

.ServicesPreview .slide {
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: center;
}

.ServicesPreview .slide img {
    width: 100%;
}

.service-div {
    width: 100%;
    height: 25vh;

    background-position: center;
    background-image: cover;
    /* filter: grayscale(30%); */
    text-align: left;
    color: white;
    padding: 30px
}

.ServicesPreview .carousel-inner {
    border-radius: 25px;
    width: 85%
}

.carousel-indicators {
    display: none
}