/* .BCTNavbar-container {
    padding-top: 25px;
} */

.div-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 6;
    transition: 0.65s ease;
}

.hidden {
    position: fixed;
    top: -100px;
    transition: 0.65s ease;
}

.BCTNavbar {
    width: 100%;
    padding: 15px 40px;
    position: absolute;
    margin-left: auto;

    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    position: sticky;
}

.BCTNavbar a {
    color: red !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin: 0px 30px;
}

.BCTNavbar .navbar-brand {
    font-weight: 900;
}

.BCTNavbar-links {
    margin-left: auto;
}