.footer-div {
    background-color: #1a2a30;
    color: white;
    padding-top: 50px;
}



/* ----- LEFT COLUMN ----- */
.footer-div li {
    list-style: none;
    margin: 5px 0px;
    text-transform: uppercase;
}

.footer-div ul {
    padding: 0;
}

.footer-div a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.contactMe-div {
    margin-top: 70px;
}

.contactMe-div p {
    margin: 0;
    margin-left: 20px;
    font-size: 0.8rem;
}

.contactMe-div .title {
    margin-bottom: 15px;
}

.contactMe-div h6 {
    display: inline;
    width: auto;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.line {
    height: 1px;
    width: 130px;
    background-color: #19415d;
    display: inline-block;
    margin-left: 10px;
}



/* ----- CENTER COLUMN ----- */
.center-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    padding-bottom: 30px;
}

.center-column img {
    width: 30%
}

.footer-div svg {
    fill: white
}

.social-media-links {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.social-media-icon svg {
    width: 100%
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: auto;
}



/* ----- LAST COLUMN ----- */