.footer-div {
    background-color: #101010;
    color: white;
    padding-top: 50px;
}

.footer-div li {
    list-style: none;
}

.footer-div a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.footer-div svg {
    fill: white
}

.social-media-links {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.social-media-icon svg {
    width: 100%
}


.center-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
