.Sponsors3 {
    padding: 50px 130px;
    /* object-fit: cover; */
}

.Sponsors3 a {
    display: contents;
}

.eachSponsor-div img {
    width: 50%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.eachSponsor-div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}