.slideshow {
    overflow: hidden;
    padding: 50px 0px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
}

.slideshowSlider-2 {
    white-space: nowrap;
}

.slide {
    display: inline-block;
    width: 25%;
    padding: 0px 25px;
    text-align: center;
}

.slide img {
    width: 100px
}
