.AboutMe-preview {
    height: 200vh;
    /* background-color: rgb(3 61 118); */
}

.AboutMe-preview h2 {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 3.5rem;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.AboutMe-preview p {
    /* font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5rem; */
    text-align: justify;
}

.quote {
    height: 100vh;
    width: 75%
}

.leftCol-AboutMe {
    padding-left: 5vw;
    margin-top: 20px;
}

.aboutMe-pic img {
    width: 65%;
    padding-top: 180px;
}

.aboutMe-pic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.counters {
    display: flex
}