.App {
    font-weight: lighter;
}

@font-face {
    src: url(./../public/fonts/aqua.ttf);
    font-family: "JORGE"
}



.btn:focus:not(.focus-visible) {
    outline: 0;
    box-shadow: none;
}

.hide {
    display: none;
}