.Counter-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;

    padding: 10px 30px
}

.Counter-div h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 520;
}


.Counter-div p {
    padding: 0;
    margin: 0;

    font-size: 2.5rem;
    font-weight: bolder;
    color: #0d557a;
    padding-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.NumProjects {
    /* background-color: red; */
    height: 60px;
}

.PB {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 60px;
}

.PB h6 {
    margin: 0px 10px
}

.PB p {
    font-size: 2rem;
}

.Certifications {
    /* background-color: red; */
    height: 60px;
}

.Certifications p {
    font-size: 2rem;
}