.slideshow {
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* max-width: 150px; */
    width: 80%;
    /* padding: 50px 130px; */
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    width: auto;
    padding: 0px 25px;
}

.slide img {
    width: 20%
}